.env
.env.example
.env.local
.env.staging
atuin/config/
atuin/database/
atuin/db_dumps/
eclipse_che(minikube)/chectl-install.log
openshift/crc-linux-2.49.0-amd64/
openshift/crc-linux-amd64.tar.xz
vpn_client/config/

